.tabs {
    min-height: 550px;
}

.tabs__container {
    margin: 0 auto;
    padding-left: 19.5%;
    padding-right: 19%;
}

.tabs__triggers {
    max-width: 591px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: start;
    margin-left: 4px;
}

.tabs__triggers-item {
    color: #48494D;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #D7D9DF;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        background-color: #D12136;
        color: #fff;
    }
}

.tabs__content-item {
    display: none;
    background-color: #fff;
}

.tabs__triggers-item--active {
    background-color: #D12136;
    color: #fff;
}

.tabs__content-item--active {
    display: block;
}
